<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dictonary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <Dictonary.Properties.Settings>
            <setting name="WordTreeFilePath" serializeAs="String">
                <value>./words/Words.xml</value>
            </setting>
            <setting name="DropDataObjectReferenceDataType" serializeAs="String">
                <value>Drop Data Object Reference</value>
            </setting>
        </Dictonary.Properties.Settings>
    </applicationSettings>
</configuration>